<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="signupbox">
        <p style="font-size: 30px;">Login</p>
        <br>
        <form action="" method="POST">
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter email" required>      <!-- VARCHAR -->
            <p>Password</p>
            <input type="password" name="password" placeholder="Password" required> <br>  <!-- VARCHAR -->
            <button class="button searchbut" value="submit" name="submit" type="submit">SUBMIT</button><br>
            <a href="index.html">Homepage</a><br/>
            <a href="doctorsignup.html">No account?</a><br/>
            <a href="search.html">Help?</a>
        </form>
    </div>

</body>
</html>