<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    </head>
<body>
    <div class="line">
        Doctor
    </div>
    <header class="header">
        <nav class="right_tokens">
            &nbsp;
            <a href="doctorlogin.html" class="newpat">Login</a>  &nbsp; &nbsp; &nbsp; 
            <a href="doctorsignup.html" class="newpat">Signup</a>
        </nav>
    </header>   
</body>
</html>