<!DOCTYPE html>
<html>
<head>
    <title>Signup Form</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="signupbox">
        <p style="font-size: 30px;">Signup</p>
        <br>
        <form action="/register" method="POST">
            <p>Full Name</p>
            <input type="text" name="namy" placeholder="Enter first name" required>     <!-- CHAR -->
            <p>Phone No.</p>
            <input type="text" name="contact" placeholder="Enter phone number" required>     <!-- CHAR -->
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter email" required>      <!-- VARCHAR -->
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter password" required> <br>  <!-- VARCHAR -->
            <p>Certificate</p>
            <input type="file" name="certificate" placeholder="Attach qualification certificate" required>
            <br>
            <br>
            <input value="submit" name="submit" type="submit"/><br>
            <a href="doctorlogin.html">Do you have an account?</a><br />
            <a href="search.html">Help?</a>
        </form>
    </div>
</body>
</html>