<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    </head>
<body>
    <div class="line2">
        Welcome back <p style='font-size:30px; margin-left: 100px'> Dr. {{name}}</p>
    </div>
    <header class="header">
        <nav class="right_tokens1">
            &nbsp;
            <a href="{{url_for('speech')}}" class="newpat1">New Patient</a>  &nbsp;
            <a href="{{url_for('logout')}}" class="newpat1">Logout</a>  &nbsp;
        </nav>

        <div class="searchbar">
          <form action="/search" method="POST">
            <input class="search" type="text" placeholder="Search patient name.." name="search" id="search" value="">
            <input class="button searchbut" type="submit" name="search1" value ="Search"
            id="search">
        </form>
        </div>
    </header>   
</body>
</html>