<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    </head>
<body>
    <div class="line2">
        Welcome back Doctor!
    </div>
    <header class="header">
        <nav class="right_tokens1">
            &nbsp;
            <a href="js.html" class="newpat1">New Patient</a>  &nbsp;
            <a href="index.html" class="newpat1">Logout</a>  &nbsp;
        </nav>
        <div class="searchbar">
            <input class="search" type="text" placeholder="Search patient name.." name="search" id="search" value="">
            <button class="button searchbut" type="submit" name="submit" id="search">Search</button>
        </div>
    </header>   
</body>
</html>