@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
*{
    
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing:border-box;
    font-family: 'Comfortaa', cursive;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header{
    padding: 20px;
}
.body{
    background-color: antiquewhite;
}
.header::after{
    content:" ";
    clear: both;
    display: block;
    visibility: none;
}
.line{
    color: black;
    padding-left: 600px;
    padding-top: 250px;
    font-size: 80px;
}
.line2{
    color: black;
    padding-left: 450px;
    padding-top: 200px;
    font-size: 70px;
}

.searchbar{
    padding-top: 15px;
    float: left;
    padding-left: 320px;
}

input[type=text] {
    width: 350px;
    padding: 6px 6px;
    color: black;
    margin: 4px 4px;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgb(85, 85, 85);
    border-radius: 3px;
    box-sizing: border-box;
  }
input[type=file] {
    width: 350px;
    padding: 6px 6px;
    color: black;
    margin: 4px 4px;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgb(85, 85, 85);
    border-radius: 3px;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 350px;
    padding: 6px 6px;
    color: black;
    margin: 4px 4px;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgb(85, 85, 85);
    border-radius: 3px;
    box-sizing: border-box;
  }

input[type=password] {
    width: 375px;
    padding: 6px 6px;
    color: black;
    margin: 4px 4px;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgb(85, 85, 85);
    border-radius: 3px;
    box-sizing: border-box;
  }
input[type=email] {
    width: 375px;
    padding: 6px 6px;
    color: black;
    margin: 4px 4px;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgb(85, 85, 85);
    border-radius: 3px;
    box-sizing: border-box;
  }


.button {
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.searchbut {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 3px;
    background: rgba(0,0,0,0.2);
}

.searchbut:hover {
    color: white;
}

.right_tokens{
    padding-top: 24px;
    float: right;
    padding-right: 650px;
}
.right_tokens1{
    padding-top: 24px;
    float: right;
    padding-right: 250px;
}
.newpat{
    font-size: 30px;
}
.newpat1{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray; 
}

.prescription{
    padding-top: 170px;
    padding-left: 450px;    
}

.signupbox{
    padding-top: 170px;
    padding-left: 450px; 
}

.form-control{
    padding: 20px;
}
.word{
    font-size: 30px;
}